/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body, select, option {
    font-family: 'Open Sans','Roboto','Helvetica Neue','Segoe UI',Helvetica,Verdana,san-serif;
}

select, option {
    font-size: inherit;
}

select {
    border: 1px solid #dde6e9;
    color: #717171;
    height: 2.5em;
    padding : 0.4em 0;
    line-height: 2.5em;
    background-color: transparent;
    border-radius: 3px;
    margin: 0.2em 0;
    margin-bottom: 1.25em;
}

.dropdwon-label {
    padding-right: 1em;
}