
.graph-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 15px;
}

.pass {
    background-color: #6fbb3f;
}

.fail {
    background-color: #d1524b;
    flex: 1 1 1;
    stroke-width: 1px;
}